<div class=" min-h-screen items-center flex-col" >

  <div class="text-2xl text-center font-medium font-serif m-3"><p>Trending Shows</p></div>

   <div class="overflow-x-auto scrollbar-none m-4 px-4 ">
  <div class="flex flex-row space-x-4">
    <div
      *ngFor="let show of trendingShows"
      class="w-80 h-[420px] bg-gray-200 rounded-3xl flex flex-col items-center justify-start text-center p-4 space-y-2 flex-shrink-0"
    >
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + show.poster_path"
        alt="{{ show.name }}"
        class="w-48 h-64 object-cover rounded"
      />
      <p class="text-sm font-semibold line-clamp-2">{{ show.name }}</p>

     
     <div class="flex flex-col text-xs space-y-1">
  <button  class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-xs font-medium text-gray-900 rounded-md group bg-gradient-to-br from-purple-600 to-blue-500 hover:text-white focus:ring-2 focus:outline-none focus:ring-blue-300 dark:text-white dark:focus:ring-blue-800">
    <span class="relative px-3 py-1.5  rounded group-hover:bg-transparent group-hover:dark:bg-transparent">
      Details
    </span>
  </button>

  <button (click)="update()" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-xs font-medium text-gray-900 rounded-md group bg-gradient-to-br from-purple-600 to-blue-500 hover:text-white focus:ring-2 focus:outline-none focus:ring-blue-300 dark:text-white dark:focus:ring-blue-800">
    <span class="relative px-3 py-1.5 rounded group-hover:bg-transparent group-hover:dark:bg-transparent">
      Add to Watchlist
    </span>
  </button>
</div>

    </div>
  </div>
</div>








<div class="text-2xl text-center font-medium font-serif m-3"><p>Populor Shows</p></div>

 <div class="overflow-x-auto scrollbar-none m-4 px-4 ">
  <div class="flex flex-row space-x-4">
    <div
      *ngFor="let show of PShows"
      class="w-80 h-[420px] bg-gray-200 rounded-3xl flex flex-col items-center justify-start text-center p-4 space-y-2 flex-shrink-0"
    >
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + show.poster_path"
        alt="{{ show.name }}"
        class="w-48 h-64 object-cover rounded"
      />
      <p class="text-sm font-semibold line-clamp-2">{{ show.name }}</p>

      
     <div class="flex flex-col text-xs space-y-1">
<button  class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-xs font-medium text-gray-900 rounded-md group bg-gradient-to-br from-purple-600 to-blue-500 hover:text-white focus:ring-2 focus:outline-none focus:ring-blue-300 dark:text-white dark:focus:ring-blue-800">
    <span class="relative px-3 py-1.5  rounded group-hover:bg-transparent group-hover:dark:bg-transparent">
      Details
    </span>
  </button>

  <button (click)="update()" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-xs font-medium text-gray-900 rounded-md group bg-gradient-to-br from-purple-600 to-blue-500 hover:text-white focus:ring-2 focus:outline-none focus:ring-blue-300 dark:text-white dark:focus:ring-blue-800">
    <span class="relative px-3 py-1.5 rounded group-hover:bg-transparent group-hover:dark:bg-transparent">
      Add to Watchlist
    </span>
  </button>
</div>

    </div>
  </div>
</div>


<div class="text-2xl text-center font-medium font-serif m-3"><p>Top Rated Shows</p></div>

 <div class="overflow-x-auto scrollbar-none m-4 px-4 ">
  <div class="flex flex-row space-x-4">
    <div
      *ngFor="let show of TShows"
      class="w-80 h-[420px] bg-gray-200 rounded-3xl flex flex-col items-center justify-start text-center p-4 space-y-2 flex-shrink-0"
    >
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + show.poster_path"
        alt="{{ show.name }}"
        class="w-48 h-64 object-cover rounded"
      />
      <p class="text-sm font-semibold line-clamp-2">{{ show.name }}</p>

      
     <div class="flex flex-col text-xs space-y-1">
 <button  class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-xs font-medium text-gray-900 rounded-md group bg-gradient-to-br from-purple-600 to-blue-500 hover:text-white focus:ring-2 focus:outline-none focus:ring-blue-300 dark:text-white dark:focus:ring-blue-800">
    <span class="relative px-3 py-1.5  rounded group-hover:bg-transparent group-hover:dark:bg-transparent">
      Details
    </span>
  </button>

  <button (click)="update()" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-xs font-medium text-gray-900 rounded-md group bg-gradient-to-br from-purple-600 to-blue-500 hover:text-white focus:ring-2 focus:outline-none focus:ring-blue-300 dark:text-white dark:focus:ring-blue-800">
    <span class="relative px-3 py-1.5  rounded group-hover:bg-transparent group-hover:dark:bg-transparent">
      Add to Watchlist
    </span>
  </button>
</div>

    </div>
  </div>
</div>

</div>
  
 