<div class=" h-screen  flex flex-col justify-center">

    <img src="assets/notfound.jpg" alt="Not Found" class="h-100 w-100 mx-auto rounded-2xl" >
    <div class="text-center space-y-2 text-black">
        <h2>Oops! Page Not Found</h2>
    <p>The page you are looking for doesn't exist.</p>
    <p>
    Go To &nbsp;
  <a routerLink="/" class="bg-green-500 text-sm text-white px-5 py-2 rounded-3xl hover:bg-green-600 transition duration-300 shadow-md inline-block">
    Homepage
  </a>
</p>
    </div>
    


</div>
